<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

  </head>
  <body class="d-flex justify-content-center mt-5">
    <div class="card p-3" style="width: 18rem;">
    <form>
        <h5 class="text-center">บันทึกข้อมูลพนักงาน</h5>
      <div class="mb-3">
        <label for="Full-Name" class="form-label">Full Name</label>
        <input
          type="text"
          class="form-control"
          id="Full-Name"
        />
      </div>

      <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="Email"
        />
      </div>

    <div class="mb-3">
      <label for="Position" class="form-label">Position</label>
      <select id="Position" class="form-select">
        <option>Manager</option>
      </select>
    </div>
      <div class="mb-3">
        <label for="Phone" class="form-label">Phone Number</label>
        <input
          type="text"
          class="form-control"
          id="Phone"
        />
      </div>
      <div>
        <button type="submit" class="btn btn-success w-100">Submit</button>
    </div>
    </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>
