*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}
.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.modal{
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.full-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: 85%;
    object-fit: contain;
    transition: all 0.3s ease-in-out;
}
.modal.open{
    opacity: 1;
    pointer-events: all;
}