img{
    width: 100%;
    height: 500px;
    margin: auto;
    border-radius: 20px;
    object-fit: cover;
    opacity: 0.5;
    transition: transform 0.8s;
}
img:hover{
    transform: scale(1.2);
    opacity: 1;
    border: 1px solid white;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}